/* Estilos para a página paulo.html */
h1 {
	display: block;
	font-family: Segoe Ui;
  	font-size: 2em;
  	font-weight: bold;
}

h2 {
	margin-top: 10px;

}

h3 {


}


p {
	font-family: Segoe;
	font-size: 18px;
	padding-top: 2px;
}

.centralizar{
	text-align: center;
}
.justificar{
	text-align: justify;
}

.headerPaulo {
	background-color: #000000;
	padding: 10px;
}

.logo { 
	text-align: center;
	color: white;
}

* {
	margin: 0px;
	padding: 0px;
}

.social {
	position: absolute;
	top: 60px;
	right: 15px;
	padding-top: 50px;
	list-style: outside none none;
}

.menu li{
	position: relative;
	text-align: center;
	display: inline;
	padding: 40px;

}

.menu a{
	font-family: Segoe WP Black;
	font-size: 18px;
	text-decoration: none;
	color: inherit;
}

#main{
	border: solid 1px;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

nav {
	position: relative;
	background-position: 100%;
	background-color: #C2E0FF;
	padding: 8px;
}